
/* === FOOTER === */
.footer{
  width: 100%;
  height: 346px;
  background-color: #05010100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

/* Logo + Año */
.footerlogosince{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconoFinal{
  width: 80px;
  height:auto;
}

.since{
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}

/* Redes sociales */
.redessociales{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.redessociales div{
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.redessociales img{
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

/* === RESPONSIVE MÓVIL === */
@media (max-width: 768px){

  .footer{
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
    gap: 40px;
  }

  .redessociales{
    align-items: center;
  }

  .redessociales div{
    justify-content: center;
  }
}
