
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* === HEADER GENERAL === */
header {
  padding: 1rem;
  background-color: #140101;
}

/* xxxx PARTE SUPERIOR: LOGO + HAMBURGUESA + NAV xxxxx*/
.top-header {
  position: relative;        
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO + TEXTO */
.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.logo1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* NAV DESKTOP */
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color:white;
  font-weight: 600;
}

/* === BOTÓN HAMBURGUESA === */
.hamburguesa {
  display: none;         
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;     
  right: 1rem;
  top: 0.5rem;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {

  /* Mostrar hamburguesa en móvil */
  .hamburguesa {
    display: block;
  }

  /* Ocultar menú normal en móvil */
  nav {
    display: none;
    width: 100%;
    text-align: center;
  }

  /* Cuando se activa con JS */
  nav.activo {
    display: block;
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: column;
    gap: 1rem;
  }
}


/* Bienvenida */
.bienvenida {
  margin-top: 1rem;
  background-color: rgb(34, 37, 37);
  height: 350px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;     
  text-align: center;
  padding: 1rem;
}

.bienvenida > h4 {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.info-parrafo{
  font-size: 1.5rem;
  color: white;
  text-align: justify;
}

.info-titulo{
  color: white;
  font-size: 2rem;
}

.bienvenida img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

/* 📱 MÓVIL */
@media (max-width: 768px) {
  .bienvenida {
    flex-direction: column; 
    height: auto;           
  }

  .bienvenida h4 {
    font-size: 1.6rem;
  }

  .bienvenida img {
    width: 180px;          
  }
}